body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.login-container h2 {
  color: #1f2b6c;
  font-family: Yeseva One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #1f2b6c;
  font-family: Yeseva One;
  font-size: 25px;
  font-style: normal;
  line-height: normal;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #1f2b6c;
  margin-bottom: 10%;
}

.form-group button {
  display: flex;
  width: 100%;
  padding: 13px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: var(--Primary, #1f2b6c);
  color: var(--Accent, #bfd2f8);
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10%;
}

