.consultas {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 70% 30%;
  justify-items: center;
}
.revisarconsultas {
  width: 80%;
  justify-items: center;
  align-items: center;
}
.revisarconsultas .texto {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: var(--Primary, #1f2b6c);
  text-align: right;

  /* Display 2 */
  font-family: Yeseva One;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.revisarconsultas .listaconsult {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 100%;
}

.revisarconsultas .listaconsult article {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  border-radius: 5px;
  background: var(--Primary, #1f2b6c);
  height: 52px;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 10%;
}
.revisarconsultas .listaconsult article span {
  color: var(--white, #fcfefe);
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}
.revisarconsultas .listaconsult article span:nth-of-type(1) {
  margin-left: 2%;
}
.revisarconsultas .listaconsult article button {
  border-radius: 50px;
  background: var(--Accent, #bfd2f8);
  display: flex;
  width: 110px;
  padding: 13px 35px;
  align-items: flex-start;
  gap: 10px;
}
.consultas .calendario{
    width: 80%;
    height: 100%;
    margin-top: 10%;

}